git+https://github.com/google-deepmind/pysc2.git
protobuf<3.21
s2clientprotocol>=4.10.1.75800.0
absl-py>=0.1.0
numpy>=1.10
pygame>=2.0.0
pettingzoo>=1.24.3
gymnasium
git+https://github.com/oxwhirl/smac.git
git+https://github.com/oxwhirl/smacv2.git
git+https://github.com/xihuai18/Common-Multi-agent-Environments.git
pre-commit
loguru